/* Rob Watson's basic page CSS */

.page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: rgba(255, 255, 255, 0.769);
}

body {
  background-color: rgba(0, 0, 0, 0.847);
}

header {
  color: rgba(255, 255, 255, 0.817); 
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: xx-large;
}

footer {
  color: rgba(255, 255, 255, 0.783); 
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 20px;
}

.links {
  color: yellow;  
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

a:link {
  color: rgb(144, 196, 145); 
}

a:visited {
  color: rgb(144, 196, 145); 
} 

